{% extends 'base.html.twig' %}

{% block title %}Stock Exchange - Profile{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="profile-header">
            <h1>Welcome, {{ user.username }}!</h1>
        </div>

        {% set count = 0 %}
        {% for portfolio in user.portfolios %}
            {% for depositary in portfolio.depositaries %}
                {% set count = count + depositary.quantity %}
            {% endfor %}
        {% endfor %}

        {% if user.getPortfolios() is empty %}
            <p class="empty-message">You do not have any portfolios yet :(</p>
        {% else %}
            <h2>You have {{ user.getPortfolios().count() }} portfolios:</h2>
            <div class="portfolio-list">
                {% for portfolio in user.getPortfolios() %}
                    <div class="portfolio-card">
                        <h3>{{ portfolio.name }}</h3>
                        <p class="portfolio-details">Balance: {{ portfolio.getBalance() }}</p>
                        <p class="portfolio-details">ID: {{ portfolio.getId() }}</p>

                        {% if portfolio.depositaries is empty %}
                            <p class="empty-message">No stocks in this portfolio.</p>
                        {% else %}
                            <p>Stocks:</p>
                            <ul class="stocks-list">
                                {% for depo in portfolio.depositaries %}
                                    <li>{{ depo.quantity }} of {{ depo.stock.name }} ({{ depo.stock.ticker }})</li>
                                    <li>Delta: {{ delta(depo) }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-container">
            {{ include('portfolio/user_new.html.twig', { form: form }) }}
        </div>
    </div>
{% endblock %}
